*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild

# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
.env
server/test.db
test.db

# Node
node_modules/
web/dist/

# IDE
.vscode/
.idea/
deploy.sh
